.navbar-brand {
  margin-left: 40px;
}

.navbar-brand {
  font-weight: 800;
  font-size: 150% !important;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

.navbar {
  background-color: white !important;
}